body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* ********************** Menu ********************** */
nav {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 90px;
padding: 10px 100px;
box-sizing: border-box;
transition: .5s;
background-color: yellow;
font-size: 1.5em;
}
nav.black {
    background: rgba(0,0,0,.8);
    height: 80px;
    padding: 10px 50px;
}
nav .logo {
    float: left;
    background:#fff;
    border-radius: 50%;
}
nav .logo img {
    height: 80px;
    transition: .5s;
}
nav .logo img:hover {
-webkit-transform: rotate(360deg);
}
nav.black .logo img {
    height: 60px;
}
nav ul {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    line-height: 80px;
    color: #262626;
    font-family:'Roboto', sans-serif;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}
nav.black ul li a {
    color: #fff;
    line-height: 60px;
}
nav ul li a.active,
nav ul li a:hover {
    color: #fff;
    background: #f00;
}


/* ********************** Body ********************** */
section.sec1 {
    width: 100%;
    height: 100vh;
    background: url(bg1.jpg);
    background-size: cover;
}
section.sec2 {
    width: 100%;
    height: 100vh;
    background: url(bg2.jpg);
    background-size: cover;
}
section.sec3 {
    width: 100%;
    height: 100vh;
    background: url(bg3.png);
    background-size: cover;
}
section.content {
    padding: 10px;
    /*text-align: center;*/
}
section.content h1 {
margin: 0;
margin-top: 100px;
    padding: 0;
    font-size: 2em;
}
section.content p {
    margin: 20px 0 0;
    padding: 0;
    font-size: 1.1em;
}


/* *********** Bootstrap Table Overrides ************* */
.table th {
background-color: rgb(245, 175, 69);
border: 2px;
border-color: black;
}

.table tr:nth-child(even) {background-color: cyan !important;}
.table tr:nth-child(odd) {background-color: yellow !important;}
.table tr:hover {background-color: rgb(211, 177, 241) !important;}

.table .table-bordered {
border: 3px solid black;
}