<!-- chat.html -->
<!-- --------- -->
{% extends "layout.html" %}

{% block head %}
 
  <script type="text/javascript">
    var x = "Hello World";
    console.log(x);

    var now = new Date();
    console.log("Now:", now)    
    var date = now.toDateString();
    console.log("Date:", date)
    var time = new Date().toLocaleTimeString();
    console.log("Time:", time)

    // variable needs back quote
    var usern = `{{user}}`
    //var usern = `{{chatdata.username}}`   // this works too
    console.log("username:", usern)

    // var chatroom = `{{room}}`
    var chatroom = `{{chatdata.chatroom}}`   // this works too
    console.log("chatroom:", chatroom)

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on( 'connect', function() {
      socket.emit( 'my event', { data: 'User Connected' } )

      var form = $( 'form' ).on( 'submit', function( e ) {
        e.preventDefault()
        //let user_name = $( 'input.username' ).val()
        let user_name = usern
        let chat_room = chatroom
        //let user_input = $( 'input.message' ).val()
        //console.log("form: message", user_input)

        let user_text = $( 'textarea.myTextarea' ).val()   
        console.log("form: textarea", user_text)             
        //alert(user_text)

        socket.emit( 'my event', {
          user_name : user_name,
          //message : user_input,
          message : user_text,
          chat_room : chat_room   
        } )
        
        //$( 'input.message' ).val( '' ).focus()
        $( 'textarea.myTextarea' ).val( '' ).focus()
      } )
    } )

    socket.on( 'my response', function( msg ) {
      console.log( "msg:", msg )
      //console.log( "msg.data:", msg.data )
      if (msg.data !== 'User Connected') {
        $( 'h3' ).remove()
        //$( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> - '+msg.message+ ' - ' +msg.chat_room+'</div>' )

        /*
        var newItem = document.createElement("LI");
        var textnode = document.createTextNode(msg.user_name+' - '+date+' - '+time+' - '+msg.message);
        newItem.appendChild(textnode);
        var list = document.getElementById("myList");
        list.insertBefore(newItem, list.childNodes[0])

          <ul id="myList"> </ul>
        */


        var table = document.getElementById("myTable");
        var row = table.insertRow(1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        cell1.innerHTML = msg.user_name;
        cell2.innerHTML = date;
        cell3.innerHTML = time;
        cell4.innerHTML =msg.message;

      }
    })
  </script>
{% endblock %}

{% block body %}

  <h1>{{user}} is in the {{room}} chatroom.</h1>
  <hr>
  {{now}}
  <h1>{{msg}}</h1>
  <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
  </br>
  <textarea type="text" class="myTextarea"  rows="3" cols="50" form="" placeholder="Messages">
  </textarea>
  <form action="" method="POST">
    <input type="submit"/>
  </form>   
  </br>
  <table id="myTable">
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Time</th>
      <th>Message</th>
    </tr>
    <tr>
    </tr>
  </table>
  
{% endblock %}
