<!-- index.html -->
<!-- --------- -->
{% extends "layout.html" %}

{% block body %}
    <br>
    <br>
    <br>
    <h1>Chatty Kathy's Chat Club and Tea Shop</h1>
    <hr>
    <h2>Chatty Kathy will let you</h2>
    <ul style="align: left;">
        <li>As a User you can use 'anonomous' or Sign In with your own name./li>
        <li>Chat Rooms, Go to:
            <ul>
                <li>the Open Forum Chat Room,</li>
                <li>Choose another Chat Room, if available, or</li>
                <li>Create a New Chat Room.</li>
            </ul>
        </li>
        <li>Go HOME</li>
        <li>Sign Out</li>
    </ul>
{% endblock %}