<!-- layout.html -->
<!-- ----------- -->
<!DOCTYPE html>
<html>
    <head>
        <title>Chatty Kathy</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!------ Include the above in your HEAD tag ---------->
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script type="text/javascript">
            $(window).on('scroll', function(){
                if($(window).scrollTop()){
                    $('nav').addClass('black');
                }
                else
                {
                    $('nav').removeClass('black');	
                }
            });
        </script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon2.ico') }}">
    </head>

    <body>

            
        <section class="content">

            <nav>
                <b style="float: left;">Chat Club</b>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ url_for('signin') }}">Sign In</a></li>
                    <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
                    <li>Select Chat room</li>
                </ul>
            </nav>

        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <section style="text-align: center">
            {% block body %}
            {% endblock %}
        </section>

            
    </body>
</html>