<!-- signin.html -->
<!-- --------- -->
{% extends "layout.html" %}



{% block body %}
    <h1>You are currently signed in as {{user}}.<br>
    You can change your Username below:</h1>
    <hr>

    <form action="{{ url_for('signup') }}" method="post">
        <div>
            
            <input type="submit" value="Sign in as Anonymous">
        </div>
    </form>
    <br>
    <hr>
    <br>

    <form action="{{ url_for('signup') }}" method="post">
        <div>
            <input name="name" type="text" placeholder="New User Name"><br>
            <br>
            <input type="submit" value="Sign in as a New User">
        </div>
    </form>
{% endblock %}